.vs/*
.idea/*
Acid.Sharp/bin/*
Acid.Sharp/obj/*
Acid.Sharp.CLI/bin/*
Acid.Sharp.CLI/obj/*
Acid.Sharp.Test1/bin/*
Acid.Sharp.Test1/obj/*
Acid.Sharp.Test2/bin/*
Acid.Sharp.Test2/obj/*
Std-symbols/bin/*
Std-symbols/obj/*
packages/*

.DS_Store