.vs/*
.idea/*
Acid/bin/*
Acid/obj/*
AcidSharp/bin/*
AcidSharp/obj/*
AcidSharp.CLI/bin/*
AcidSharp.CLI/obj/*
AcidSharp.Tests/bin/*
AcidSharp.Tests/obj/*
Std-symbols/bin/*
Std-symbols/obj/*
packages/*

.DS_Store