.vs/*
.idea/*
Flounder/bin/*
Flounder/obj/*
FlounderSharp/bin/*
FlounderSharp/obj/*
FlounderSharp.CLI/bin/*
FlounderSharp.CLI/obj/*
FlounderSharp.Tests/bin/*
FlounderSharp.Tests/obj/*
Std-symbols/bin/*
Std-symbols/obj/*
packages/*

.DS_Store